.contents{
    padding: 20px;
    
}

.icon {
    width: 50%;

}

.warn{
    color: black;
}

.name{
    align-items: center;
    font-family: 'Comic Sans MS';
    color: red;
}

.textGif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.level{
    font-style: italic;
}

.stats{
    text-align: left;
    
    margin:10px;
    

}

.statLabel{
    border: 2px solid;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    width:70%;
    font-family: 'Comic Sans MS';
    font-size: 100%;
}

.petImage{
    width: 35vw;
}