.nav_item{
    border-radius: 5px;
    color: white !important;
}

.nav_item_active{
    border-radius: 5px;
    /* color: rgb(77, 164, 235) !important; */
    background-color: rgb(0, 64, 116) !important;
    color: white !important;
    transition: 0.25s;
}