.wrapper{
    padding: 0.25em 1em 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    border-left-width: 2px; 
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.user_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}
.user_picture{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 0.75em;
}
.user_name{
    margin-right: 1.5em;
}
.reply_age{
    font-size: 0.85em;
}

.text{
    padding: 0.5em 0;
}

.actions{

}