.container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
    padding: 0 0 0 200px !important;
    width: 100%;
}

.container_no_sidebar{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}