
.action_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0.2em 0.5em;
    margin-left: 1em;
}
.action_btn.create_link{
    padding-left: 0.2em;
}
.action_btn.create_link .icon{
    width: 25px;
    height: 25px;
}

.action_btn.organised_link{
    
}
.action_btn.registered_link{
    
}

.events{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 56px 0 0 0;
}