:root{
  --body-bg-colour: rgb(240, 240, 240);
  --sidebar-bg-colour: rgb(33, 37, 41);
  /* --active-blue: rgb(0, 112, 204); */
  --active-blue: rgb(0, 64, 116);
}

html, body{
  height: 100%;
  background-color: var(--body-bg-colour) !important;
}

.App {
  text-align: center;
  width: 100%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #787878 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #787878;
  border-radius: 10px;
  border: 2px solid rgba(240, 240, 240, 1);
}