:root{
  --body-bg-colour: rgb(240, 240, 240);
  --sidebar-bg-colour: rgb(33, 37, 41);
  --active-blue: rgb(0, 112, 204);
}

html, body{
  height: 100%;
  background-color: var(--body-bg-colour);
}

.App {
  text-align: center;
  width: 100%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}