.form{
    padding: 1em;
    text-align: left;
    align-self: center;

    width: 100%;
    max-width: 800px;
}

.preview{
    margin-top: 0.5em;
    width: 100%;
    max-width: 600px;
}

.backBtn {
    display: flex;
    justify-content: left;
    padding: 0.5em;
    margin-bottom: 20px;
}