.form{
    padding: 1em;
    text-align: left;
    align-self: center;

    width: 100%;
    max-width: 800px;
}

.preview{
    margin-top: 0.5em;
    width: 100%;
    max-width: 600px;
}

.backBtn {
    display: flex;
    padding: 0.5em;
    margin-bottom: 20px;
}

.question .img_upload_text{
    font-style: italic;
}

.options {
    display: flex;
}

.create_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin: 10px;
    border: none;
    padding: 0.1em;
}

.checkbox {
    padding: 5px;
    margin: auto;
}

.check_button{
    display: flex;
    margin-left: auto;
    margin: 10px;
    border: none;
    padding: 0.1em;
}

.delete_button{
    display: inline-flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: none;

    padding: 0.1em;
}

.delete_button:hover{
    background-color: red;
}
.icon{
    width: 20px;
    height: 20px;
}