.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(224, 228, 238, 1);
    transition: 0.11s;
}

/* .within_month{
    
} */
.within_month:hover{
    background-color:rgba(214, 214, 214, 0.5);
    cursor: pointer;
}
.not_within_month{
    background-color: rgb(224, 228, 238);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0.25em 0.5em 0.15em 0.5em;
}

.daytext{
    width: min-content;
    padding: 0.25em;
    width: 2em;
    height: 2em;
}

.black_daytext{
    color: black;
}

.gray_daytext{
    color: rgb(168, 168, 168);
}

.today_daytext{
    color: white;
    background-color: rgb(0, 123, 255);
    border-radius: 1em;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-x: hidden;
    overflow-y: auto;

    height: 13vh;
}