.bigCard {
    padding: 1em;
    margin-bottom: 1em;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.course_link{
    display: flex;
    flex-direction: row;

    text-decoration: none;
    color: black;
    width: 100%;

    padding: 0.5em;
    margin-bottom: 1.5em;
}

.course_img{
    width: 100%;
    max-width: 200px;

    max-height: 120px;
    object-fit: cover;

    margin-right: 1em;
    border-radius: 5px;
}

.course_content{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 100%;
}
