.wrapper{
    padding: 1em;
    max-width: 30rem;
    margin-bottom: 1em;
}

.announcement{
    flex-direction: column;

    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;

    margin-bottom: 1em;
    padding: 1em;

    text-align: left;
}

.announcement .tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}
.announcement .tags > .tag{
    background-color: rgb(211, 211, 211);

    border-radius: 25px;
    margin-right: 0.75em;
    padding: 0.1em 0.75em;

    font-size: small;
}

.announcement .user_content{
    margin-top: 2em;
    font-size: small;
    font-style: italic;
}

.announcementText {
    text-decoration: none;
    color: black;
}

.announcement_title{
    margin-bottom: 0.5em;
}
.announcement_desc > p{
    margin-bottom: 0.5em !important;
}

.announcement_datetime{
    font-style: italic;
    color: gray;
    margin-bottom: 0.5em;
}


.create_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    margin-left: 30px;
}

.collaspible_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    margin-left: 30px;
}

.buttons {
    text-align: center;
}

.announcement .edit_btn{
    background-color: white;
    border: none;
    margin-right: 5px;
}
.announcement .edit_btn:hover{
    background-color: greenyellow;
}
.announcement .edit_btn .icon{
    color: greenyellow;
    font-size: 1.25em;
}
.announcement .edit_btn:hover .icon{
    color: white;
}

.announcement .delete_btn{
    background-color: white;
    border: none;
}
.announcement .delete_btn:hover{
    background-color: red;
}
.announcement .delete_btn .icon{
    color: red;
    font-size: 1.25em;
}
.announcement .delete_btn:hover .icon{
    color: white;
}

.show {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.show:hover {
    transform: scale(1.1);
}