.wrapper{
    padding: 0em 1em 0em 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    border-left-width: 2px; 
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.user_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0 0.5em 0;
}
.user_picture{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 0.75em;
}
.user_name{
    margin-right: 1.5em;
}
.reply_age{
    font-size: 0.85em;
}

.text{
    padding: 0.5em 0;
}

.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.action_button{
    display: flex;
    flex-direction: center;
    align-items: center;

    margin-right: 0.5em;
    background-color: white;
    color: black;
    border: none;
    transition: 0.1s;
}
.action_button:hover{
    background-color: rgb(216, 216, 216);
    color: black;
}
.action_button:focus{
    background-color: rgb(216, 216, 216);
    color: black;
}
.action_icon{
    margin-right: 0.5em;
}
.dislike_icon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}