.header{
    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: rgb(33, 37, 41);
}
.header.add_top{
    top: 56px;
}

.filter{
    margin-right: 0.5em;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    border: none;
}

.wrapper{
    padding: 56px 1em 1em 1em;
}

.challenge{
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    
    margin-bottom: 1em;
    padding: 1em;
}

.challenge_info{
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: black;

    text-align: left;
}

.challenge_details{
    display: flex;
    flex-direction: column;
}

.challenge_points{
    text-align: center;
    float: right;
}

.create_button{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.1em;
}
.create_icon{
    width: 28px;
    height: 28px;
}

.edit_btn{
    background-color: transparent;
    align-items: right;
    border: none;
    margin-right: 5px;
}
.edit_btn:hover{
    background-color: greenyellow;
}
.edit_btn .icon{
    color: greenyellow;
    font-size: 1.25em;
}
.edit_btn:hover .icon{
    color: white;
}

.delete_btn{
    background-color: transparent;
    border: none;
}
.delete_btn:hover{
    background-color: red;
}
.delete_btn .icon{
    color: red;
    font-size: 1.25em;
}
.delete_btn:hover .icon{
    color: white;
}

.answer_btn{
    background-color: transparent;
    border: none;
}
.answer_btn:hover{
    background-color: blue;
}
.answer_btn .icon{
    color: blue;
    font-size: 1.25em;
}
.answer_btn:hover .icon{
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
}