.button {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
}
  