.section_header{
    padding: 1em;
}

.top_row{
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin-bottom: 0.5em;
}

.file_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-right: 0.5em;
}

.file_section .header{
    /* padding: 0.5em 0.5em 0 0.5em; */
    padding-top: 0.5em;
    margin-right: 1em;
}

.file_section .header .add_file_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.file_section .file_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;

    max-width: 650px;

    padding: 0.5em;
}
.file_section .file_list > .file{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: fit-content;
    padding: 0.5em;
    margin-bottom: 1em;
}
.file_section .file_list > .file .download{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5em;
    margin-right: 1em;

    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-bottom: 1px solid rgb(171, 179, 185);
}
.file_section .file_list > .file .download:hover{
    color: #0070CC;
}
.file_section .file_list > .file .icon{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    margin-right: 1em;
}
.file_section .file_list > .file .name{
    
}

.text_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.text_section .header{
    margin-right: 1em;
}
.text_section .text_list{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
.text_section .text_list > .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #ffffff;
    border: 1px solid rgb(236, 236, 236);
    width: 100%;
    padding: 0.5em 1em;
}
.text_section .text_list > .text:first-child{
    border-radius: 5px 5px 0 0;
}
.text_section .text_list > .text:last-child{
    border-radius: 0 0 5px 5px;
}

.challenge_section{
    padding: 0.5em 1em;
}
.challenge_section .header{
    margin-bottom: 0.5em;
}