.wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;

    /* border: 1px solid black;
    border-radius: 3px; */
    margin-bottom: 0.75em;
    padding: 0.5em 1em;

    max-width: 40em;
}

.title{

}

.body{

}