.wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: flex-end;

    margin: 0 auto;
    margin-bottom: 0.75em;
    padding: 0 0 1em 0;

    max-width: 600px;

}

.text_content{
    padding: 1em;
}

.title{
    
}

.body{
    
}

.image{
    width: 100%;
    align-self: center;
}