.wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.title{
    padding: 0.5em 1em 0.75em 1em;
    font-weight: 600;
    font-size: 1.25em;
}

.events{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}