.wrapper{
    padding: 1em 0.5em;
    margin-bottom: 1em;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    margin-right: 1em;
}
.add_file_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.files{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-between;
}
.file{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 1em 0.5em 0.5em 0.5em;
}
.file .icon{
    width: 25px;
    margin-right: 1em;
}
.file .name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}