.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(229,231,235);
}

.today_header{
    color: rgb(0, 123, 255);
    font-weight: bold;
}

.black_header{
    color: black;
}

.gray_header{
    /* color: rgb(229,231,235); */
    color: rgb(194, 194, 194);
}

.content{
    height: 13vh;
}